.hey{
    text-align: center;
     top: 100px;
    position: relative;
    width: 70%;
    margin-left: 2px;
    }
    input{
    margin: 5px 20px 5px 20px;
    }
    h2,h5{
     color: black;
    }
    button{    
background-color:red;    
color: aliceblue;
    
    }