
<ul>
 <li><a id="adminappliedLoan" href="#" routerLink="/appliedloans">Applied Loans</a></li>
<li><a id="adminloandetails" href="#" routerLink='/loandetails'>Loan Details</a></li>
<button class="btn LogOut" id="Logout" routerLink=''>LogOut</button>
 </ul>
 <div class="image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuvB8uEH2NDCWOgGudUXDcqiInp0yT67rtVA&usqp=CAU" width="700px">
 </div>

 <div class="text">
    This Page is for Admin.
    Admin can:
    <p>Approve loan</p>
    <p>Reject Loan</p>
    <p>Delete Loan Record</p>
 </div>

<router-outlet></router-outlet>