<ul>
    <li><a id="applyLoan"  routerLink='/applyloan'>Apply Loan</a></li>
    <li><a id="customerloan-status" routerLink='/loanstatus'>Loan Status</a></li>
    <li><a id="profile" routerLink='/profile'>Profile</a></li>
    <button class="btn LogOut" id="Logout" routerLink=''>LogOut</button>
   
</ul>  
    <div class="text">
        <h3>Education Loan Benefits</h3>
        
            <h4>Financial benefits</h4>
            <p>
            Opting for an education loan reduces the strain on your family savings and eliminates the need to liquidate your investments in fixed deposits, mutual funds or bonds.
            </p>
            <h4>Pay after education</h4>
            <p>
            Opting for an education loan reduces the strain on your family savings and eliminates the need to liquidate your investments in fixed deposits, mutual funds or bonds.
            </p>
            <h4>Build financial prudence</h4>
            <p>
                Taking on an education loan is a great opportunity for students to pay for their own education, without needing to depend on family.
            </p>
    </div>
<aside class="image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO8GdV0VphNualEK4NQ4-s-daXVEn-xPzN4Q&usqp=CAU" width="350px" height="250">
</aside>
<router-outlet></router-outlet>